h2, h1 {
	color: red;
	font-family: 'Lobster';
}
a {
	text-decoration: none;
	font-size: 25px;
}
a:hover {
	text-decoration: underline;
	background-color: pink;
}

h3 {
	color: green;
	font-style: italic;
	font-style: bold;
}

#image{
	background-image: url("album_images/whitney.jpg");
	width:300px;
	height:300px;
	/*background-repeat: no-repeat;*/
	background-size: contain;
}
tbody{
	font-style: italic;
}
thead{
	background-color: grey;
}
table{
	border-collapse: collapse;
}
tbody tr:nth-child(even){
	background-color: #78AB46;
}
tbody tr:nth-child(odd){
	background-color: pink;
}